footer {
  background: rgba(103, 91, 68, 0.150);
  height: 200px;
  margin-top: 150px;
  text-align: center;

  p {
    font-size: 13px;
    padding-top: 15px;

    small {
      font-size: 11px;
    }
  }
}
