// ---------------------------
// Third Party Libraries
// ---------------------------



// ---------------------------
// Variables
// ---------------------------

// Because of the way colors work, we shouldn't actually use
// true black or white, just colors that we can stand in for them.


//---------------------------
// Baltimore Hackathon CSS
//---------------------------

@import "splashstyle";
@import "splash-page-queries";
