// ---------------------------
// Third Party Libraries
// ---------------------------

@import "bourbon";

// ---------------------------
// Variables
// ---------------------------

// Because of the way colors work, we shouldn't actually use
// true black or white, just colors that we can stand in for them.
$black: #211914;
$white: #FDFCFC;

$text-color: $black;
$text-base-size: 16px;

//---------------------------
// Baltimore Hackathon CSS
//---------------------------

@import "../2014/stylesheets/application/globals";
@import "../2014/stylesheets/application/_scaffolding";
@import "../2014/stylesheets/application/_layout";
@import "../2014/stylesheets/application/_buttons";
@import "../2014/stylesheets/application/_header";
@import "../2014/stylesheets/application/footer";
@import "../2014/stylesheets/application/_responsive";
