@media (max-width: 1150px) {
  #banner{
    width: 5em;
  }
  .title {
    font-size: 0.9em;
  }
  h1.year {
    font-size: 3em;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 0.65em;
  }
  h1.year {
    font-size: 2em;
  }
  .row-email-container p {
    font-size: 0.55em;
  }
}
