<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%= current_page.data.title || "The Third Baltimore Hackathon" %></title>

    <%= stylesheet_link_tag "normalize", "application" %>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="//use.typekit.net/mok6can.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type="text/javascript" src="javascripts/navmenu2.js"></script>

  </head>

  <body>
    <%= yield %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
