@font-face {
  font-family: "JF Ringmaster";
  src: url("/fonts/jfringmaster.eot?") format("eot"), url("/fonts/jfringmaster.woff") format("woff"), url("/fonts/jfringmaster.ttf") format("truetype"), url("/fonts/jfringmaster.svg#AtlasRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 1, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
body {
  background: #CCBA96 url(../images/background.png);
  font-family: "futura-pt", sans-serif;
  font-size: 16px;
  color: #211914;
  position: relative; }

/* line 11, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 0.02em; }

/* line 16, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
h2 {
  font-size: 30px;
  margin-bottom: 15px; }

/* line 21, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
h3 {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 10px; }

/* line 27, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
a {
  color: #211914; }
  /* line 30, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
  a:hover {
    color: #4c4642; }

/* line 35, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
p {
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 1em 0; }

/* line 41, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
section {
  margin: 1.6em 0;
  padding-top: 1.6em; }

/* line 46, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
.left {
  float: left; }

/* line 50, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
.block_left {
  float: left;
  margin: 0 10px 10px 0; }

/* line 55, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
.right {
  float: right; }

/* line 59, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
.block_right {
  float: right;
  margin: 0 0 10px 10px; }

/* line 64, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
.center {
  text-align: center; }

/* line 68, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_scaffolding.scss */
.clear {
  clear: both; }

/* line 1, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
#ribbon {
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: #5E5542;
  font-size: 18px;
  line-height: 40px; }
  /* line 9, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
  #ribbon img {
    height: 12px; }
  /* line 13, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
  #ribbon span {
    display: inline-block;
    margin: 0 1em;
    font-size: 0.85em; }

/* line 20, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
#container {
  overflow: hidden;
  position: relative; }

/* line 25, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
#wrapper {
  margin: 0 auto;
  position: relative;
  width: 90%;
  max-width: 900px; }

/* line 32, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.section-header {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 1em;
  padding-top: 8px; }
  /* line 47, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
  .section-header:before, .section-header:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    border-top: 0.15em solid #211914;
    height: 0.15em;
    border-bottom: 0.4em double #211914;
    margin-bottom: 0.3em; }
  /* line 59, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
  .section-header:before {
    margin-right: 1em; }
  /* line 63, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
  .section-header:after {
    margin-left: 1em; }

/* line 40, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.prize-booster {
  background-image: url(../images/blueribbon.png), url(../images/blueribbon.png);
  background-position: left, right;
  background-size: 30px 50px;
  background-repeat: no-repeat;
  min-height: 50px; }

/* line 48, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.BetamorePB {
  background-image: url(../images/blueribbon.png), url(../images/blueribbon.png);
  background-position: left, right;
  background-size: 30px 50px;
  background-repeat: no-repeat;
  min-height: 50px;
  width: 50%; }

/* line 57, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.column, .column4 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
  padding: 0;
  width: 31.5%;
  margin-right: 2.1%; }
  /* line 65, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
  .column:nth-child(3n), .column4:nth-child(3n) {
    margin-right: 0; }
  /* line 69, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
  .column.double, .double.column4 {
    width: 50%; }
  /* line 73, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
  .column.full, .full.column4 {
    width: 100%; }
  /* line 77, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
  .column h2, .column4 h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.2em;
    text-transform: uppercase; }

/* line 86, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.column4 {
  width: 22.5%; }

/* line 91, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.hero {
  width: 90%;
  min-width: 280px;
  margin: 0 auto 3em auto; }
  /* line 96, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
  .hero p {
    margin-bottom: 2em; }

/* line 101, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.actions {
  text-align: center; }

/* line 105, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
ul.list {
  margin-left: 15px; }

/* line 106, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
ul.list li {
  font-size: 16px;
  list-style: disc;
  margin-bottom: 5px; }

/* line 108, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.judges li {
  display: block;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px; }

/* line 109, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.judges li img {
  margin-right: 5px;
  vertical-align: middle; }

/* line 111, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.profile {
  width: 425px;
  margin: 0 auto; }

/* line 112, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.profile p {
  font-size: 16px; }

/* line 113, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.profile img {
  float: left;
  padding-right: 5px; }

/* line 115, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.jobreq h3 {
  font-size: 24px;
  margin-bottom: 10px; }

/* line 116, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.jobreq p {
  font-size: 14px;
  margin-top: 2px; }

/* line 118, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.winner {
  margin-top: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 1px; }

/* line 120, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.sponsors .lead-sponsor {
  padding-top: 50px;
  text-align: center; }

/* line 121, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.sponsors .sponsor {
  padding-left: 30px; }

/* line 122, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.sponsors .sponsor img {
  max-width: 300px;
  max-height: 60px;
  padding: 5px 3px 3px 3px; }

/* line 123, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
div#other-sponsors {
  width: 100%;
  text-align: center;
  padding: 15px 0; }

/* line 124, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.twitter {
  background: url(../images/twitter.png) no-repeat left center;
  display: block;
  padding: 5px 40px;
  text-decoration: none; }

/* line 126, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.attendees li {
  display: block;
  float: left;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin: 0 10px 10px 0; }

/* line 127, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.attendees li a {
  background-color: #BCAB88;
  background-color: rgba(106, 92, 66, 0.15);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  float: left;
  padding: 0 5px;
  text-decoration: none; }

/* line 128, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_layout.scss */
.attendees li a:hover {
  background-color: #AF9F7D;
  background-color: rgba(106, 92, 66, 0.25);
  color: #000; }

/* line 1, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_buttons.scss */
.button {
  font-family: "futura-pt", sans-serif;
  font-size: 16px;
  color: #211914;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  text-transform: uppercase;
  border: 3px double #211914;
  background: transparent;
  color: #211914;
  padding: 0.6em 3em;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  margin-right: 2em; }
  /* line 15, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_buttons.scss */
  .button:hover {
    color: #211914;
    border: 3px solid #211914; }
  /* line 20, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_buttons.scss */
  .button:last-child {
    margin-right: 0; }

/* line 2, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_header.scss */
header h1 {
  margin: 0;
  text-align: center; }
  /* line 6, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_header.scss */
  header h1 .title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
    font-family: "JF Ringmaster", serif;
    font-size: 3em; }
  /* line 12, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_header.scss */
  header h1 .caption {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-size: 0.6em; }
    /* line 47, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    header h1 .caption:before, header h1 .caption:after {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 140px;
      border-top: 0.15em solid #211914;
      height: 0.15em;
      border-bottom: 0.4em double #211914;
      margin-bottom: 0.3em; }
    /* line 59, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    header h1 .caption:before {
      margin-right: 1em; }
    /* line 63, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    header h1 .caption:after {
      margin-left: 1em; }

/* line 1, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/footer.scss */
footer {
  background: rgba(103, 91, 68, 0.15);
  height: 200px;
  margin-top: 150px;
  text-align: center; }
  /* line 7, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/footer.scss */
  footer p {
    font-size: 13px;
    padding-top: 15px; }
    /* line 11, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/footer.scss */
    footer p small {
      font-size: 11px; }

@media screen and (min-width: 651px) and (max-width: 900px) {
  /* line 2, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  #ribbon {
    display: none; }

  /* line 6, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  header h1 .caption {
    font-size: 0.55em; }

  /* line 10, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  header h1 .title {
    font-size: 2em; }

  /* line 14, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  .column, .column4 {
    width: 47.7%; }
    /* line 17, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
    .column:nth-child(3n), .column4:nth-child(3n) {
      margin-right: 2%; }
    /* line 21, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
    .column:nth-child(2n), .column4:nth-child(2n) {
      margin-right: 0; }

  /* line 26, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  .column h2, .column4 h2 {
    text-align: center; }

  /* line 30, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  .section-header {
    text-transform: uppercase;
    text-align: center;
    font-style: italic; }
    /* line 47, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    .section-header:before, .section-header:after {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      border-top: 0.15em solid #211914;
      height: 0.15em;
      border-bottom: 0.4em double #211914;
      margin-bottom: 0.3em; }
    /* line 59, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    .section-header:before {
      margin-right: 1em; }
    /* line 63, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    .section-header:after {
      margin-left: 1em; } }
@media screen and (max-width: 650px) {
  /* line 36, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  #ribbon {
    display: none; }

  /* line 40, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  .hero {
    width: 100%; }

  /* line 45, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  header h1 {
    margin-top: 1.5em; }
    /* line 48, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
    header h1 .caption {
      text-transform: uppercase;
      text-align: center;
      font-style: italic;
      font-size: 0.45em; }
      /* line 47, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
      header h1 .caption:before, header h1 .caption:after {
        content: " ";
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        border-top: 0.15em solid #211914;
        height: 0.15em;
        border-bottom: 0.4em double #211914;
        margin-bottom: 0.3em; }
      /* line 59, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
      header h1 .caption:before {
        margin-right: 1em; }
      /* line 63, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
      header h1 .caption:after {
        margin-left: 1em; }
    /* line 53, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
    header h1 .title {
      font-size: 1em; }

  /* line 61, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  .actions .button {
    display: block;
    margin-right: 0;
    margin-bottom: 1em; }

  /* line 68, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  .column, .column4 {
    width: 100%; }
    /* line 71, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
    .column h2, .column4 h2 {
      text-align: center;
      font-size: 1.5em; }

  /* line 77, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/_responsive.scss */
  .section-header {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-size: 1.2em; }
    /* line 47, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    .section-header:before, .section-header:after {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      border-top: 0.15em solid #211914;
      height: 0.15em;
      border-bottom: 0.4em double #211914;
      margin-bottom: 0.3em; }
    /* line 59, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    .section-header:before {
      margin-right: 1em; }
    /* line 63, /Users/jdenney/workspace/baltimorehackathon/source/stylesheets/application/globals.scss */
    .section-header:after {
      margin-left: 1em; } }
