header {
  h1 {
    margin: 1em 0;
    text-align: center;

    .title {
      @include better-font-rendering;
      @include super-heading-text;
      font-size: 3em;
    }

    .caption {
      @include lined-heading;
      font-size: 0.6em;
    }
  }
}
