<div id="ribbon">
  <img src="images/wing-timepiece.png" style="vertical-align: middle"/>
  <span>Curious about the previous competitions? Check out the sites for the <a href="2010/">First</a> or the <a href="2012/">Second</a> Hackathon.</span>
  <img src="images/wing-timepiece.png" style="vertical-align: middle"/>
</div>

<div id="container">
  <div id="wrapper">
    <header>
      <h1>
        <small class="caption">The Third</small>
        <div class="title">Baltimore Hackathon</div>
      </h1>
    </header>

    <section>
      <h3 class="section-header">Event Information</h3>

      <div class="column-container">
        <div class="column">
          <h2>What?</h2>
          <p>
            Build a hardware or software project from idea to prototype in a weekend!
          </p>
          <p>
            You can participate individually or as a team.
          </p>
        </div>

        <div class="column">
          <h2>When?</h2>
          <p>
             November 14 - 16, 2014.<br><br>
          </p>
        </div>

        <div class="column">
          <h2>Where?</h2>
          <p>
          Advertising.com Inc<br>
          <a href="https://goo.gl/maps/ZPpcu">1020 Hull St<br>
          Baltimore, MD 21230</a>
          </p>
        </div>

        <div class="column">
          <h2>Why?</h2>
          <p>
            Bring the community together and have a good time. And, we'll throw in some prizes as the icing on the cake, too.
          </p>
        </div>
        <div class="column">

          <h2>Rules?</h2>
          <p>
            The rules are simple. You have a weekend to build a hardware or software project and show it off to the judges.  Okay, there's a little more to it than that, just see the detailed information section below.
          </p>
        </div>

        <div id="how-do-i-participate" class="column">
          <h2>Tickets?</h2>
          <p>Registration <b>costs $15</b> and <b>includes snacks, food, and a t-shirt</b>.
          <p id="sign-up-button">
            <a class='btn large btn-signup' href="https://www.eventbrite.com/e/baltimore-hackathon-tickets-13312276377">
              Sign Up Here!
            </a>
          </p>
        </div>
      </div>
    </section>

    <section class="hero">

      <h3 class="section-header">Get Involved</h3>
        <p>We're always on the look out for volunteers, organizers, and sponsors so if you're interested send an <a href="mailto:jasondenney@gmail.com">email</a> and let us know!</p>

        <div class="actions">
          <a href="mailto:jasondenney@gmail.com" class="button">Volunteer</a>
          <a href="mailto:jasondenney@gmail.com" class="button">Sponsor</a>
        </div>
    </section>

    <section>

      <h3 class="section-header">Prizes</h3>
      <div class="column-container">
        <div class="column">
          <h2>Best Hardware Project</h2>
          <p>Team $300 and Individual $100</p>
          <p>
A project that either creatively or impressively uses hardware as the primary means to provide a service, solve a problem, or facilitate some other abstract creation/interaction. It is possible that a hardware project uses some software for controlling logic, but the primary sophistication lies within the composition or production of the physical components of the project.
          </p>
        </div>

        <div class="column">
          <h2>Best Software Project</h2>
          <p>Team $300 and Individual $100</p>
          <p>
A project that either creatively or impressively uses software as the primary means to provide a service, solve a problem, or facilitate some other abstract creation/interaction. It is possible that a software project uses some physical hardware for interaction, but the primary sophistication lies within the composition of the algorithms, tools, or libraries used by the software.
          </p>
        </div>


        <div class="column">
          <h2>Audience Favorite</h2>
          <p>$200</p>
          <p>
The point of this award is to allow fellow competitors to judge and vote on which project they think deserves recognition and need not specifically be a hardware or software project.  Voting tickets will be handed out to all audience members when presentations start and competitors are encouraged to bring friends and family to help vote in their favor.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h3 class="section-header">Judges</h3>
      <div class="column-container">
        <div class="column">

          <h2>Gary Mauler</h2>
          <center><p>Founder Robot Fest & DIY Expo</p></center>
          <center><img src="images/judges/gary_mauler.jpg"></center>
          <p>
Founder of Robot Fest, a yearly event held at the National Electronics Museum. A “Creative Geek” who tries to connect the left and right sides of his brain while collaborating with engineers and artists. An “out-of-the-box” thinker who is constantly looking for new and fun projects to work on.
          </p>
        </div>

        <div class="column">
          <h2>Chris Lavoie</h2>
          <center><p>Baltimore Tool Library</p></center>
          <center><img src="images/judges/chris_lavoie.jpg"></center>
          <p>
Director of the Station North Tool Library's Public Workshop, Chris Lavoie is an exhibiting artist and adjunct faculty for both Towson University and MICA's Sculpture departments.  Chris also does both large and small scale professional fabrication with steel, bronze and wood.
          </p>
        </div>

        <div class="column">
          <h2>Lisa Moren</h2>
          <center><p>Professor of Visual Art at UMBC</p></center>
          <center><img src="images/judges/lisa_moren.jpg"></center>
          <p>
An artist who makes interactive installations, works on paper and public interventions. She has exhibited her work widely including the Chelsea Art Museum, Cranbrook Art Museum and many venues abroad such as Ars Electronica and Akademie der Kunste and is currently working with the Artists Research Network, part of LaTrobe University in Melbourne Australia.</p>
        </div>

        <div class="column">
          <h2>Shervonne Cherry</h2>
          <center><p>MindGrub</p></center>
          <center><img src="images/judges/shervonne_cherry.jpg"></center>
          <p>
TBD</p>
        </div>

        <div class="column">
          <h2>Kyle Walton (Buddy)</h2>
          <center><p>Unallocated Space</p></center>
          <center><img src="images/judges/kyle_walton.jpg"></center>
          <p>
          Kyle Walton has over a decade of experience coordinating and implementing Cybersecurity for a wide range of information technoligy based corporations and federal enterprises since 1998. He is extremely proficient at trends analyst, vulnerability assessment, and risk management. In addition to his career; he enjoys art, sushi, organizing events, supporting creative uses of technology, and being a keyholder for Unallocated Space an active hackerspace in Anne Arundel County, Maryland. <a href="http://www.unallocatedspace.org">http://www.unallocatedspace.org</a> @budhandyman
          </p>
        </div>

        <div class="column">
          <h2>Jason Hardebeck</h2>
          <center><p>Baltimore Foundery</p></center>
          <center><img src="images/judges/jason_hardebeck.jpg"></center>
          <p>
Engineer by training and entrepreneur by calling, Jason is the Managing Director of DreamIt Baltimore.  He is the cofounder of the Baltimore Foundery, an industrial-grade campus for makers. He was the founder and CEO of WhoGlue, a social networking company that he sold to Facebook in 2011.  In 2005, he was appointed by Maryland’s Governor to serve as the state’s Entrepreneur in Residence.
          </p>
        </div>
     </div>
    </section>

    <section>
      <h3 class="section-header">Platinum Sponsor</h3>
      <img src="images/sponsors/traitify.png">
    </section>

    <section class="hero">
      <h3 class="section-header">Gold Sponsor</h3>
      <img src="images/sponsors/lookingglass.png">
    </section>

    <section class="hero">
      <!-- Silver sponsors only get logo shown -->
      <h3 class="section-header">Silver Sponsors</h3>
      <img src="images/sponsors/millennial_media.png">
      <img src="images/sponsors/paypal.png">
      <img src="images/sponsors/emoxie.png">
    </section>

    <section class="hero">
      <!-- Bronze sponsors only get name shown -->
      <h3 class="section-header">Bronze Sponsors</h3>
      <p>Key Tech Inc</p>
      <p>LMO Advertising</p>
    </section>

    <section class="hero">
      <h3 class="section-header">Resources</h3>
      <ul>
        <li>Presentation Template</li>
        <li>Presentation Details</li>
        <li>Rules</li>
        <li>FAQ</li>
        <li>Schedule</li>
        <li>Garages/Tools</li>
        <li>Team Classifieds</li>
        <li>Open City Data</li>
      </ul>
    </section>

  </div><!-- #wrapper -->

  <footer>
    <p>
      Questions? Interested in sponsoring? Contact <a href="mailto:jasondenney@gmail.com">jasondenney@gmail.com</a><br />
      <small>Updated by <a href="https://github.com/kaitlin-farr">Kaitlin Farr</a> and <a href="https://github.com/joshhepworth">Josh Hepworth</a></small>
    </p>
  </footer>
</div><!-- #container -->
