 <div id="container">
  <div id="wrapper">    
     <header>
      <h1>
        <small class="caption">The Third Annual Baltimore Hackathon</small>
        <div class="title">Winners!</div>
      </h1>
    </header>


  <section>
      <!--<h3 class="section-header">Prizes</h3>-->
      <div class="column-container">
       <center>
        <div class="column">
         <div class="frame">
          <h2>Title of Award</h2>
          <p id= "value">Title of Project</p>
          <center><img src="images/judges/lisa_moren.jpg"></center>
          <p> List of team member names.</p>
          <p> Description of Project with Optional Link</p>

        </div>
      </div>

        <div class="column">
         <div class="frame">
          <h2>Title of Award</h2>
          <p id= "value">Title of Project</p>
          <center><img src="images/judges/lisa_moren.jpg"></center>
          <p> List of team member names.</p>
          <p> Description of Project with Optional Link</p>
        </div>
      </div>


        <div class="column">
         <div class="frame">
          <h2>Title of Award</h2>
          <p id= "value">Title of Project</p>
          <center><img src="images/judges/lisa_moren.jpg"></center>
          <p> List of team member names.</p>
          <p> Description of Project with Optional Link</p>
         </div> 
        </div>
        </center>
      </div>
    </section>


         <section>
      <!--<h3 class="section-header">Prizes</h3>-->
      <div class="column-container">
       <center>
        <div class="column">
         <div class="frame">
          <h2>Title of Award</h2>
          <p id= "value">Title of Project</p>
          <center><img src="images/judges/lisa_moren.jpg"></center>
          <p> List of team member names.</p>
          <p> Description of Project with Optional Link</p>

        </div>
      </div>

        <div class="column">
         <div class="frame">
          <h2>Title of Award</h2>
          <p id= "value">Title of Project</p>
          <center><img src="images/judges/lisa_moren.jpg"></center>
          <p> List of team member names.</p>
          <p> Description of Project with Optional Link</p>
        </div>
      </div>


        <div class="column">
         <div class="frame">
          <h2>Title of Award</h2>
          <p id= "value">Title of Project</p>
          <center><img src="images/judges/lisa_moren.jpg"></center>
          <p> List of team member names.</p>
          <p> Description of Project with Optional Link</p>
         </div> 
        </div>
        </center>
      </div>
    </section>

    <section>
      <h3 class="section-header">Runner-Ups</h3>

      <div class="column-container">
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>    
       <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>   
          <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>    
       <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>    <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>    
       <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>    
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>    
       <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>  
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>
        <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>    
       <div class="column">
          <h2>Project Name</h2>
          <p><b>Team Members</b></p>
          <p> A sentence description with optional link.</p>
        </div>               


        
      </div>
    </section>


  </div>
 </div>   